.worth-txt {
  color: green !important;
}
.worth-txt2 {
  color: red !important;
}
.will{
  text-align: center;
  margin-top: 80%;
}
.asst{
  margin-top: 80%;
}
.liab{
  margin-top: 80%;
}
.bene{
  margin-top: 80%;
}
.siga{
  margin-top: 80%;
  text-align:center;
}

